<dom-module id="new-wood">
  <link rel="stylesheet" href="new-wood.css" />
  <template>
        
        <iron-ajax
            id="send"
            url="https://coster.herokuapp.com/api/maderas/"
            method="POST"
            content-type="application/json"
            on-response="clear_form">
        </iron-ajax>
        
            <div>
              <div class="col-md-12">    
                  <div class="form-group">
                    <label>Tipo de Madera:</label>
                  <input type="text" placeholder="Nombre de la Puerta" class="form-control" value="{{ typeDoor::input }}"/>
                  </div>
                  
                  <div class="form-group">
                  <label>Imagen:</label>      
                  <input type="url" placeholder="Url de la Imagen" class="form-control" value="{{ imgUrl::input }}"/>
                  </div>
                  
                  <div class="form-group">
                      <label>Valor:</label>
                      <input type="number" placeholder="Precio de la Puerta" class="form-control" value="{{ valor::input }}"/>
                  </div>
                  
                  <div class="form-group pull-right">
                        <button class="btn btn-danger" on-tap="requestWood">Añadir Madera</button>
                  </div>
              </div>
          </div>
    </template>    

  <script src="new-wood.js"></script>
</dom-module>
